*.aux
*.bbl
*.blg
*.fdb_latexmk
*.lof
*.log
*.lol
*.lot
*.out
*.gz
*.toc
*.nav
*.snm
*.idx
*.ilg
*.ind
Dissertation/logos/institutslogo-eps-converted-to.pdf
*.eps
*.fls
*.lb
*.zip
LaTeX-Beamer/logos/mathlogo300dpi.png
LaTeX-Beamer/logos/mathlogo300dpi_white.png
LaTeX-Beamer/logos/slogan.png
LaTeX-Beamer/logos/slogan_white.png
LaTeX-Beamer/logos/unilogo300dpi.png
LaTeX-Beamer/logos/unilogo300dpi_white.png